@font-face {
  font-family: 'YourFont';
  src: url('https://cdn.glitch.global/d9b990f0-f28d-49fd-b14e-85a0df5ed795/slkscrb.ttf?v=1713150896267') format('truetype');
}
.title {
  font-family: 'YourFont', sans-serif; 
}
